/* .footer {
  padding-top: 29px;
  background: #f8f9fa;
}

.footer__top {
  display: flex;
  position: relative;
  gap: 28px;
  padding-top: 16px;
  padding-bottom: 64px;
}

.footer__top::after {
  content: "";
  position: absolute;
  right: -28px;
  bottom: 0;
  left: -28px;
  height: 1px;
  background-color: #dce5e2;
}

.footer__info {
  padding-top: 10px;
  max-width: 394px;
  min-width: 290px;
  flex: 1 1 0;
}

.footer__logo-img {
  margin-bottom: 18px;
}

.footer__description {
  max-width: 304px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.footer__column {
  max-width: 197px;
  min-width: 132px;
  flex: 1 1 0;
}

.footer__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #000;
  margin-bottom: 19px;
}

.footer__menu-item {
  height: 36px;
}

.footer__menu-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 127%;
  color: #000;
/* for hover */
/* position: relative;
  display: inline-block;
  transition: color 0.3s ease-out;
}

.footer__menu-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-hover);
  color: #4b4b4b;
  opacity: 0;
  transform: scale(1.4);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.footer__menu-link:hover::before,
.footer__menu-link:focus-visible::before {
  opacity: 1;
  transform: scale(1);
}

.footer__bottom {
  display: flex;
  align-items: center;
  padding-top: 52px;
  margin-bottom: 4px;
}

.footer__copyright {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

.footer__author-link {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

@media (width <= 992px) {
.footer {
  padding-top: 19px;
}

  .footer__top {
    flex-wrap: wrap;
    justify-content: end;
    padding-bottom: 28px;
  }

  .footer__bottom {
    padding-top: 28px;
  }
}

@media (width <= 768px) {
  .footer__top {
    justify-content: center;
    padding-top: 0;
  }
}

@media (width <= 576px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer__column {
    text-align: center;
  }
} */

.footer {
  padding-top: 29px;
  background: #f8f9fa;
}

.footer__top {
  display: flex;
  position: relative;
  gap: 28px;
  padding-top: 16px;
  padding-bottom: 64px;
}

.footer__top::after {
  content: "";
  position: absolute;
  right: -28px;
  bottom: 0;
  left: -28px;
  height: 1px;
  background-color: #dce5e2;
}

.footer__info {
  padding-top: 10px;
  min-width: 260px;
}

.footer__logo-img {
  margin-bottom: 18px;
}

.footer__description {
  max-width: 304px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.footer__columns {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  gap: 28px;
  flex: 1;
}

.footer__column {
  grid-column: 3 span;
  flex-shrink: 1;
}

.footer__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #000;
  margin-bottom: 19px;
}

.footer__menu-item {
  height: 36px;
}

.footer__menu-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 127%;
  color: #000;
  position: relative;
  transition: color 0.3s ease-out;
}

.footer__menu-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-hover);
  color: #4b4b4b;
  opacity: 0;
  transform: scale(1.4);
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
}

.footer__menu-link:hover::before,
.footer__menu-link:focus-visible::before {
  opacity: 1;
  transform: scale(1);
}

.footer__bottom {
  display: flex;
  align-items: center;
  padding-top: 52px;
  margin-bottom: 4px;
}

.footer__copyright {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

.footer__author-link {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

@media (width <= 992px) {
  .footer {
    padding-top: 19px;
  }

  .footer__top {
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 28px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .footer__bottom {
    padding-top: 28px;
  }
}

@media (width <= 768px) {
  .footer__top {
    padding-top: 0;
  }
}

@media (width <= 576px) {
  .footer__columns {
    gap: 9px;
  }

  .footer__column {
    text-align: center;
    grid-column: 6 span;
  }
}
