.new-phones {
  margin-block: 28px;
}

.new-phones__slider {
  background-color: var(--accent-color);
  border-radius: 32px;
}

.swiper {
}

.new-phones__slide-inner {
  position: relative;
  min-height: 550px;
  display: flex;
}

.new-phones__title {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 120%;
  color: #000;
  max-width: 588px;
}

.new-phones__text {
  font-family: var(--font-family);
  font-size: 16px;
  max-width: 565px;
  margin-bottom: 30px;
}

.new-phones__button {
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 200px;
  width: 170px;
  height: 50px;
  transition:
    color var(--transition-time),
    transform var(--transition-time);
}

@media (any-hover: hover) {
  .new-phones__button:hover {
    transform: scale(1.05);
    background-color: var(--bg-color);
  }
}

.new-phones__img-wrapper {
}

@media (width >1200px) {
  .new-phones__slide-inner {
    justify-content: space-between;
  }
}

@media (width <=1200px) {
  .new-phones__slide-inner {
    flex-direction: column;
    align-items: center;
  }

  .new-phones__button {
    margin-bottom: 30px;
  }
}

@media (width > 992px) {
  .new-phones__slide-text {
    padding-left: 56px;
    padding-top: 145px;
  }
}

@media (width <= 992px) {
  .new-phones__slide-text {
    padding-left: 46px;
    padding-top: 90px;
  }
}

@media (width > 768px) {
  .new-phones__title {
    font-size: 58px;
  }
}

@media (width <= 768px) {
  .new-phones__slide-text {
    padding-left: 36px;
    padding-top: 45px;
  }

  .new-phones__title {
    font-size: 48px;
  }
}

@media (width <= 576px) {
  .new-phones__title {
    font-size: 38px;
  }
}
