.product-categories {
  --container-width: 1380px;
  padding-top: 47px;
  padding-bottom: 6px;
}

.product-categories__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-categories__text {
  font-family: var(--second-family);
  font-size: 14px;
  text-align: center;
  color: #000;
  max-width: 628px;
  margin-bottom: 56px;
}

.product-categories__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 270px;
  gap: 17px;
}

.product-categories__card {
  display: flex;
  max-height: 792px;
  overflow: hidden;
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition:
    color var(--transition-time),
    transform var(--transition-time);
}

.product-categories__card-img {
  overflow: hidden;
}

.product-categories__img {
  object-fit: contain;
}

@media (any-hover: hover) {
  .product-categories__card:hover {
    transform: scale(1.02);
  }
}

.product-categories__card-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 128%;
  color: #000;
}

.product-categories__card-slogan {
  font-family: var(--second-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  color: #000;
  max-width: 200px;
}

/* laptop */

.product-categories__card-laptop {
  flex-direction: column;
  align-items: end;
  grid-column: 6 span;
  grid-row: 2 span;
  max-height: 472px;
  padding-inline: 63px;
}

.product-categories__laptop-card-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.product-categories__laptop-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.product-categories__card-text-laptop {
  max-width: 192px;
  text-align: end;
}

/* phone/tablet */

.product-categories__card-phones,
.product-categories__card-tablet {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3 span;
  grid-row: 3 span;
  gap: 42px;
}

.product-categories__phones-card-img {
  position: relative;
  width: 432px;
  height: 367px;
}
.product-categories__tablet-card-img {
  position: relative;
  width: 498px;
  height: 425px;
}

.product-categories__phones-img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 67px;
  top: 50%;
  transform: translateY(-50%);
}
.product-categories__tablet-img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.product-categories__card-text-phones,
.product-categories__card-text-tablet {
  text-align: center;
}

/* watch */

.product-categories__card-watch {
  grid-column: 6 span;
  align-items: center;
  padding-inline: 81px 63px;
}

.product-categories__card-text-watch {
  text-align: end;
  min-width: 110px;
}

@media (width <= 992px) {
  .product-categories {
    padding-top: 28px;
  }

  .product-categories__card {
    max-height: 100%;
    align-items: center;
    padding-inline: 17px;
  }

  .product-categories__card-slogan {
    font-size: 24px;
  }

  .product-categories__card-laptop {
    grid-row: 1 span;
    flex-direction: column;
    align-items: end;
  }

  .product-categories__card-phones,
  .product-categories__card-tablet {
    grid-row: 2 span;
  }

  .product-categories__phones-card-img {
    width: 256px;
    height: 274px;
  }
  .product-categories__phones-img {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  .product-categories__tablet-card-img {
    width: 348px;
    height: 297px;
  }

  .product-categories__card-watch {
    grid-row: 1 span;
    grid-column: 6 span;
  }

  .product-categories__card-text-watch {
    min-width: 90px;
  }
}

@media (width <= 768px) {
  .product-categories__text {
    margin-bottom: 34px;
  }

  .product-categories__card-laptop {
    grid-column: 6 span;
    grid-row: 1 span;
    flex-direction: column;
  }
  .product-categories__card-phones,
  .product-categories__card-tablet {
    grid-column: 6 span;
    grid-row: 2 span;
  }
  .product-categories__card-watch {
    grid-column: 6 span;
    grid-row: 1 span;
  }
}

@media (width <= 576px) {
  .product-categories__card {
    padding-inline: 9px;
  }

  .product-categories__text {
    margin-bottom: 28px;
  }

  .product-categories__card-laptop {
    flex-direction: row;
    align-items: center;
    grid-column: 12 span;
    grid-row: 1 span;
  }

  .product-categories__card-phones,
  .product-categories__card-tablet {
    grid-column: 6 span;
    grid-row: 2 span;
  }
  .product-categories__card-watch {
    grid-column: 12 span;
    grid-row: 1 span;
  }
}
