.product-highlights {
  padding-block: 47px 28px;
}

.product-highlights__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 129%;
  color: #000;
  text-align: center;
  margin-bottom: 56px;
}

.product-highlights__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 28px;
}

.product-highlights__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 453px;
  border-radius: 16px;
  background: #f8f9fa;
  padding-top: 41px;
}

.product-highlights__card-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 129%;
  text-align: center;
  color: #000;
}

.product-highlights__card-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 125%;
  text-align: center;
  color: #000;
  padding-bottom: 30px;
}

.product-highlights__button {
  font-size: 18px;
  color: #000;
  border: 1px solid #000;
  border-radius: 200px;
  width: 190px;
  height: 50px;
  margin-bottom: 30px;
  -webkit-transition:
    color var(--transition-time),
    -webkit-transform var(--transition-time);
  transition:
    color var(--transition-time),
    -webkit-transform var(--transition-time);
  transition:
    color var(--transition-time),
    transform var(--transition-time);
  transition:
    color var(--transition-time),
    transform var(--transition-time),
    -webkit-transform var(--transition-time);
}

@media (any-hover: hover) {
  .product-highlights__button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.product-highlightss__button:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: var(--accent-color);
}

.product-highlights__img {
  max-width: 100%;
  height: auto;
}

@media (width <= 992px) {
  .product-highlights {
    padding-block: 28px 0;
  }
}

@media (width <= 768px) {
  .product-highlights__text {
    margin-bottom: 34px;
  }
}

@media (width <= 576px) {
  .product-highlights__text {
    margin-bottom: 28px;
  }
}
