.product-categories {
  --container-width: 1380px;
  padding-top: 47px;
  padding-bottom: 6px;
}

.product-categories__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-categories__text {
  font-family: var(--second-family);
  font-size: 14px;
  text-align: center;
  color: #000;
  max-width: 628px;
  margin-bottom: 56px;
}

.product-categories__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 17px 1fr 17px 1fr 17px 1fr 17px 1fr 17px 1fr 17px 1fr
    17px 1fr 17px 1fr 17px 1fr 17px 1fr 17px 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 270px;
  gap: 17px;
}

.product-categories__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 792px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition:
    color var(--transition-time),
    -webkit-transform var(--transition-time);
  transition:
    color var(--transition-time),
    -webkit-transform var(--transition-time);
  transition:
    color var(--transition-time),
    transform var(--transition-time);
  transition:
    color var(--transition-time),
    transform var(--transition-time),
    -webkit-transform var(--transition-time);
}

.product-categories__card-img {
  overflow: hidden;
}

.product-categories__img {
  -o-object-fit: contain;
  object-fit: contain;
}

@media (any-hover: hover) {
  .product-categories__card:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
}

.product-categories__card-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 128%;
  color: #000;
}

.product-categories__card-slogan {
  font-family: var(--second-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  color: #000;
  max-width: 200px;
}

/* laptop */

.product-categories__card-laptop {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  -ms-grid-row-span: 2;
  grid-row: 2 span;
  max-height: 472px;
  padding-inline: 63px;
}

.product-categories__laptop-card-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.product-categories__laptop-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product-categories__card-text-laptop {
  max-width: 192px;
  text-align: end;
}

/* phone/tablet */

.product-categories__card-phones,
.product-categories__card-tablet {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  -ms-grid-row-span: 3;
  grid-row: 3 span;
  gap: 42px;
}

.product-categories__phones-card-img {
  position: relative;
  width: 432px;
  height: 367px;
}
.product-categories__tablet-card-img {
  position: relative;
  width: 498px;
  height: 425px;
}

.product-categories__phones-img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 67px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-categories__tablet-img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.product-categories__card-text-phones,
.product-categories__card-text-tablet {
  text-align: center;
}

/* watch */

.product-categories__card-watch {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-inline: 81px 63px;
}

.product-categories__card-text-watch {
  text-align: end;
  min-width: 110px;
}

@media (width <= 992px) {
  .product-categories {
    padding-top: 28px;
  }

  .product-categories__card {
    max-height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-inline: 17px;
  }

  .product-categories__card-slogan {
    font-size: 24px;
  }

  .product-categories__card-laptop {
    -ms-grid-row-span: 1;
    grid-row: 1 span;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }

  .product-categories__card-phones,
  .product-categories__card-tablet {
    -ms-grid-row-span: 2;
    grid-row: 2 span;
  }

  .product-categories__phones-card-img {
    width: 256px;
    height: 274px;
  }
  .product-categories__phones-img {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  .product-categories__tablet-card-img {
    width: 348px;
    height: 297px;
  }

  .product-categories__card-watch {
    -ms-grid-row-span: 1;
    grid-row: 1 span;
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }

  .product-categories__card-text-watch {
    min-width: 90px;
  }
}

@media (width <= 768px) {
  .product-categories__text {
    margin-bottom: 34px;
  }

  .product-categories__card-laptop {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    -ms-grid-row-span: 1;
    grid-row: 1 span;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-categories__card-phones,
  .product-categories__card-tablet {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    -ms-grid-row-span: 2;
    grid-row: 2 span;
  }
  .product-categories__card-watch {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    -ms-grid-row-span: 1;
    grid-row: 1 span;
  }
}

@media (width <= 576px) {
  .product-categories__card {
    padding-inline: 9px;
  }

  .product-categories__text {
    margin-bottom: 28px;
  }

  .product-categories__card-laptop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    -ms-grid-row-span: 1;
    grid-row: 1 span;
  }

  .product-categories__card-phones,
  .product-categories__card-tablet {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    -ms-grid-row-span: 2;
    grid-row: 2 span;
  }
  .product-categories__card-watch {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    -ms-grid-row-span: 1;
    grid-row: 1 span;
  }
}
