* {
  box-sizing: border-box;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 50px;
}

td, th, caption {
  border: 1px solid #000;
}

caption {
  border-bottom: none;
}

.weekend {
  color: #bf260b;
}