.article {
  padding-top: 80px;
  margin-bottom: 120px;
}


.article-title {
  max-width: 630px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.article-title-lerge {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text,
.article-item {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 20px;
}

.article-text-mb {
  margin-bottom: 80px;
}

.article-text:last-child {
  margin-bottom: 0;
}

.article-decor-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../images/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ED;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.article-img {
  width: 100%;
}

.article-text-2 {
  max-width: 744px;
}

.article-list {
  margin-top: 20px;
  padding-left: 18px;
  margin-bottom: 80px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item:last-child {
  margin-bottom: 0;
}

.article-item::marker {
  color: #3596ED;
  font-size: 22px;
}

.article-video {
  width: 100%;

}
