html {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
}

body * {
  box-sizing: border-box;
}

.article {
  padding-top: 80px;
  margin-bottom: 120px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.article-title {
  max-width: 630px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.article-title-lerge {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 20px;
}

.article-text-mb {
  margin-bottom: 80px;
}

.article-img {
  width: 100%;
  margin-bottom: 80px;
}

.article-text-2 {
    max-width: 744px;
}

.atticle-list {
  margin-top: 0;
  padding-left: 15px;
  margin-bottom: 80px;
}

.article-item {
  margin-bottom: 12px;
}

.article-video {
    width: 100%;
    margin-bottom: 40px;
}


