html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.button {
  display: inline-block;
  padding: 19px 32px;
  background-color: #3596ed;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s background-color 0.2s;
}

.button:hover {
  opacity: 0.85;
}

.button:not(:disabled):active {
  background-color: #1575c9;
}

button.button:disabled {
  opacity: 0.7;
  cursor: default;
}

.section {
  margin-bottom: 140px;
}

.title-large {
  max-width: 630px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.title-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.text-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}

a,
button {
  outline: none;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}
